* {
    margin: 0;
    padding: 0;
}

body {
    background: #ded3d3;
    overflow: hidden;
}

input {
    display: none;
}

.container {
    height: 700px;
    width: 700px;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
    perspective: 1000px;
}

.container .slides {
    /* height: 100%; */
    width: 500%;
    display: flex;
}

.container .slides > img {
    height: 100%;
    width: 20%;
    display: flex;
    object-fit: cover;
    transition: .3 ease-in;
}

.container .slides > img ~ img {
    transform: rotateX(-65deg);
}


.controls {
    position: relative;
    margin: 0 auto;
    height: 50px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.controls > label {
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
}

.controls > label:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.5);
    background-color: aqua;
    
}

.slides_name > .content {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #ad1515d5;
    color: hsl(58, 100%, 51%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    transform: translateX(467px);
    transition: .3s;
}

#switch1:checked ~ .container .slides img:nth-child(1) {
    margin-left: -0%;
}
#switch2:checked ~ .container .slides img:nth-child(2) {
    margin-left: -20%;
}
#switch3:checked ~ .container .slides img:nth-child(3) {
    margin-left: -40%;
}
#switch4:checked ~ .container .slides img:nth-child(4) {
    margin-left: -60%;
}
#switch5:checked ~ .container .slides img:nth-child(5) {
    margin-left: -80%;
}
#switch1:checked ~ .container .slides img:nth-child(1), 
#switch2:checked ~ .container .slides img:nth-child(2),
#switch3:checked ~ .container .slides img:nth-child(3), 
#switch4:checked ~ .container .slides img:nth-child(4), 
#switch5:checked ~ .container .slides img:nth-child(5) {

    transform: rotateX(0deg);
}
#switch1:checked ~ .container .slides_name .content:nth-child(1), 
#switch2:checked ~ .container .slides_name .content:nth-child(2),
#switch3:checked ~ .container .slides_name .content:nth-child(3), 
#switch4:checked ~ .container .slides_name .content:nth-child(4), 
#switch5:checked ~ .container .slides_name .content:nth-child(5) {

    transform: translateX(0);
}